$main_header_font: "Times New Roman";
$main_header_generic_font: serif;
$main_header_size: 38pt;
$generic_font: sans-serif;
$color_main: rgb(230, 90, 75);
$color_main_dark: rgb(200, 80, 55);
$color_secondary: white;
$color_third: black;
$section_header_font_size: 26pt;
$page_font: "Calibri (Body)";
$section_header_padding_ver: 30px;
$nav_item_margin: 50px;
$controls_padding: 20px;
$large_font_size: 18pt;
$block_padding_ver: 50px;
$block_padding_hor: 100px;
$default_font_size: 12pt;
$search_width: 250px;
$section_header_width: 600px;
$color_controls: darkgrey;
$filters_padding: 10px;
$paragraph_margin: 15px;
$table_row_even_color: rgb(250, 240, 250);
$table_header_on_hover_color: rgb(250, 250, 250);
$table_controls_color: rgb(80, 175, 200);
$table_controls_on_hover_color: rgb(50, 100, 110);
$table_sort_offset: 60px;

body {
  font: $default_font_size $page_font, $generic_font;
}

.main-header {
  font: $main_header_size $main_header_font, $main_header_generic_font;
  text-shadow: -1px 0 $color_main, 0 1px $color_third, 1px 0 $color_third, 0 -1px $color_main;
  color: $color_secondary;
  margin: 0;
  &:hover {
    text-shadow: -3px -0.5px $color_main, 3px 0.5px $color_third;
    color: #eeeeee;
  }
}

.search-button, .add-teacher {
  border: 1px solid $color_main;
  background-color: $color_secondary;
  color: $color_main;
  padding: calc($controls_padding/2) $controls_padding calc($controls_padding/2) $controls_padding;
  &:hover {
    background-color: $color_main;
    color: $color_secondary;
  }
}

.input-text, .search-button {
  font-size: calc($large_font_size - 6pt);
}

.input-text {
  padding: calc($controls_padding/2) calc($controls_padding/4) calc($controls_padding/2) calc($controls_padding/4);
  width: $search_width;
  border-width: 1px;
  border-radius: 2px;
  color: $color_controls;
  &:hover {
    width: $search_width*1.7;
  }
}

.add-teacher {
  font-size: $large_font_size;
}

.link-navigation {
  color: $color_main;
  text-decoration: none;
  font-size: $large_font_size;
}
  .link-navigation:hover {
    color: rgb(190, 82, 61);
  }


.section-header{
  h2 {
    font-size: $section_header_font_size;
    display: inline-block;
  }
  width: $section_header_width;
  margin: auto;
  border-top: 1px solid $color_third;
  padding: $section_header_padding_ver 0 $section_header_padding_ver 0;
}

table {
  table-layout: fixed;
  width: 100%;
}

.main-navigation li {
  display: inline-block;
  margin-right: $nav_item_margin;
}

.statistics-table-head {
  //border-bottom: 1px solid $color_third;
  font-size: calc($default_font_size + 2pt);
}

header div, footer div {
  display: flex;
  justify-content: space-between;
}

.content-block, header div, footer div {
  padding: calc($block_padding_ver/2) $block_padding_hor calc($block_padding_ver/4) $block_padding_hor;

}

.filter-controls {
  display: flex;
}

.filter-control {
  &:not(:first-child) {
    padding-left: $filters_padding;
  }

  &:not(:last-child) {
    border-right: 1px dotted $color_controls;
    padding-right: $filters_padding;
  }

  &:nth-last-child(-n+2) {
    padding-top: calc($filters_padding/2);
    padding-bottom: calc($filters_padding/2);
  }
  label {
    color: $color_controls;
    font-size: 10pt;
    &:hover {
      color: $color_third!important;
    }
  }
  select {
    padding: calc($filters_padding/2);
  }
}

.teacher-image-border {
  height: 120px;
  width: 120px;
  border: 4px solid $color_main;
  border-radius: 50%;
  overflow: hidden;

  &:hover {
    border-color: red;
  }
}

#about_page p {
  text-align: left;
  margin-bottom: $paragraph_margin;
}

.statistics-table-body tr:nth-child(even) {
  background-color: $table_row_even_color;
}


.statistics-table {
  width: 100%;
  border-collapse: collapse;


  thead {
    tr {
      font-weight: lighter;

      th, td {
        padding: $filters_padding;
        position: relative;
        text-align: center;
        &:first-child {
          text-align: center;
        }
      }
      th {
        border-bottom: 1px solid $color_third;
        &:hover {
          border-bottom: 5px solid $color_third;
          background-color: $table_header_on_hover_color;
          .sort-arrow {
            display: inline;

          }
        }
      }
    }
  }

  tbody {
    tr {
      font-weight: lighter;
      th, td {
        padding: $filters_padding;
        position: relative;
        text-align: left;
        &:first-child {
          text-align: left;
        }
      }
    }
  }
}


.button-navigation, .sort-arrow {
  color: $table_controls_color;
  border: none;
  background: none;
  padding: 0;
  &:hover {
    color: $table_controls_on_hover_color;
  }
}

.table-navigation {
  text-align: left;
  font-weight: lighter;
  padding: $filters_padding;
  .hidden {
    display: none;
  }
  .inactive {
    color: $color_third;
  }
  .button-navigation {
    margin-right: $filters_padding;
  }
}

.sort-arrow {
  display: none;
  position: absolute;
  font-size: $large_font_size;
  //left: 0;
  right: $table_sort_offset;
  top: 0;
  bottom: 0;
  margin: auto;
}

.teacher-item-info {
  width: 120px;
  text-align: center;
}

.arrow-btn {
  border: none;
  background: none;
  height: fit-content;
  width: fit-content;
  opacity: 60%;

  &:hover {
    opacity: 100%;
  }
}

#favorite-left,
#favorite-right {
  height: 50px;
}


#arrow-left {
  transform: scaleX(-1);

}
